.form__button {
    border: none;
    background-color: teal;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.form__button:hover {
    background-color: hsl(180, 82%, 50%);
}

.form__button:active {
    background-color: hsl(180, 82%, 40%);
}